<body>
  <div class="container">
    <h1>Perfil de Usuario</h1>
    <br>
    <form id="formularioperfil" (ngSubmit)="editUser(personaPerfil)">

      <div class="campo">
        <label for="nombres">Nombres:</label>
        <input type="text" id="nombres" name="nombres" [(ngModel)]="personaPerfil.nombres" required>
      </div>
      <div class="campo">
        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" name="apellidos" [(ngModel)]="personaPerfil.apellidos" required>
      </div>


      <div class="campo">
        <label for="documento">Tipo de Documento:</label>
        <select class="form-select" id="documento" [(ngModel)]="personaPerfil.documento" name="documento">
          <option value=""> --Seleccionar--</option>
          <option value="DNI"> DNI </option>
          <option value="RUC"> RUC </option>
          <option value="CARNET DE EXTRANJERÍA"> CARNET DE EXTRANJERÍA </option>
        </select>
      </div>

      <div class="campo">
        <label for="documento">N° Documento:</label>
        <input type="text" id="nDocumento" name="nDocumento" [(ngModel)]="personaPerfil.nDocumento" required>
      </div>

      <div class="campo">
        <label for="numeroTelefono">N° de Teléfono:</label>
        <input type="text" id="numeroTelefono" name="numeroTelefono" [(ngModel)]="personaPerfil.telefono" required>
      </div>

      <br>
      <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
          <button class="btn btn-primary" type="submit">Actualizar</button>
        </div>
        <div class="col d-flex align-content-center justify-content-center">
          <button class="btn btn-danger" (click)="cerrarSesion()">Cerrar Sesión</button>
        </div>
      </div>


    </form>
  </div>
</body>