<section class="primera">
  <div class="textinfo">
    <p class="min">PUBICIDAD INTEGRAL</p>
    <p class="max">A SU SERVICIO</p>

    <p class="parraf">¡Descubre la magia de la personalización con Icono Gráfico! En nuestra imprenta, convertimos tus
      ideas en realidad con una calidad excepcional y un diseño único. Desde tarjetas de presentación impactantes hasta
      carteles vibrantes y materiales promocionales, ofrecemos soluciones creativas y personalizadas para destacar tu
      marca.</p>
    <button [routerLink]="['/catalogo']">PIDE AQUÍ</button>
  </div>
  <div class="collage">

    <div class="itemphoto">
      <img src="../../../../assets/img/home/volantes.png" alt="">
      <p>Volantes</p>
    </div>
    <div class="itemphoto">
      <img src="../../../../assets/img/home/calendarios.png" alt="">
      <p>Calendarios</p>
    </div>
    <div class="itemphoto">
      <img src="../../../../assets/img/home/letreros.png" alt="">
      <p>Letreros</p>
    </div>
    <div class="itemphoto">
      <img src="../../../../assets/img/home/merchandising.png" alt="">
      <p>Merchandising</p>
    </div>
  </div>
</section>