<div class="body d-flex justify-content-center align-items-center">
  <ul >
    <div class="comprobante" id="comprobante">
      <div class="row">
        <div class="col text-center header">
          <h4 class="header-text"><b>"ICONO GRÁFICO"</b></h4>
          <h5>Av. España - Trujillo - Perú</h5>
          <h5>962849210</h5>
        </div>
        <div class="col text-center header header-ruc">
          <div style="border: 1px solid black; width: max-content;">
            <h5>RUC: 10142536781</h5>
            <h5> {{comprobante?.comprobante?.tipo}} </h5>
            <h5> {{comprobante?.comprobante?.serie}} - 000{{comprobante?.comprobante?.numeracion}} </h5>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col info">
          <h5>Señor(a): {{comprobante?.venta?.nombrePersona}} {{comprobante?.venta?.apellidos}} </h5>
          <h5>{{comprobante?.venta?.documento}}: {{comprobante?.venta?.nDocumento}}</h5>
          <h5>Teléfono: {{comprobante?.venta?.telefono}}</h5>
        </div>
        <div id="fecha" class="col text-right info">
          <div>
            <h5>Fecha Emisión: {{comprobante?.venta?.fecha}} </h5>
          </div>
        </div>
      </div>
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th style="width: 70%;">PRODUCTO</th>
              <th>categoria</th>
              <th>CANTIDAD</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <td style="height: 50px;"> {{comprobante?.detalleVenta?.nombreProducto}}</td>
              <td>{{comprobante?.detalleVenta?.categoria}}</td>
              <td> {{comprobante?.detalleVenta?.cantidad}} </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      <div class="row">
        <div class="col-10 totals">
          <h6>Subtotal:</h6>
          <h6>IGV:</h6>
          <h6>Total a Pagar:</h6>
        </div>
        <div class="col-2 totals-1">
          <h6>S/ {{comprobante?.detalleVenta?.subTotal}} </h6>
          <h6>S/ {{comprobante?.detalleVenta?.igv}} </h6>
          <h6>S/ {{comprobante?.detalleVenta?.total}} </h6>
        </div>
      </div>
    </div>
  </ul>
</div>
<div id="cont-btn">
  <button id="btnDescargar" class="btn btn-warning btn-lg my-auto" (click)="generarPDF()"><b>DESCARGAR
      COMPROBANTE</b></button>
</div>