<section class="nosotros">
  <h1>CONOCE MÁS DE NOSOTROS</h1>
  <div class="mvo">
    <div class="mision">
      <h2>MISIÓN</h2>
      <p>Nuestra misión en Icono Gráfico es ofrecer servicios de impresión de la más alta calidad a nuestros
        clientes en La Libertad, Trujillo, superando sus expectativas a través de soluciones creativas, eficientes y
        personalizadas. Nos dedicamos a convertir ideas en realidad tangible, proporcionando productos impresos que
        destacan por su nitidez, durabilidad y precisión. A través de un equipo de profesionales comprometidos y el
        uso de tecnología de punta, nos esforzamos por ser un aliado estratégico para empresas y particulares,
        ayudándoles a comunicar sus mensajes de manera efectiva y a fortalecer su identidad visual en el mercado.
      </p>
    </div>
    <div class="vision">
      <h2>VISIÓN</h2>
      <p>Nuestra visión es consolidarnos como la imprenta líder en Trujillo y expandir nuestra presencia a nivel
        regional y nacional, siendo reconocidos por nuestra excelencia en el servicio al cliente y la innovación en
        procesos de impresión. Aspiramos a ser un referente en la industria gráfica, impulsando el desarrollo
        sostenible y la responsabilidad social empresarial. Nos vemos como una empresa que no solo ofrece productos
        impresos, sino que también crea experiencias memorables y de valor añadido para nuestros clientes,
        contribuyendo al crecimiento y éxito de sus proyectos.</p>
    </div>
    <div class="objetivos">
      <h2>OBJETIVOS</h2>
      <ol>
        <li><strong>Calidad y Excelencia:</strong> Mantener y elevar continuamente los estándares de calidad en
          todos nuestros
          productos y servicios, asegurando la satisfacción total de nuestros clientes.</li>
        <li><strong>Innovación Tecnológica:</strong> Incorporar las últimas tecnologías y técnicas de impresión para
          ofrecer
          soluciones innovadoras y eficientes que se adapten a las necesidades cambiantes del mercado.</li>
        <li><strong>Responsabilidad Social:</strong> Promover prácticas empresariales responsables y sostenibles,
          contribuyendo al
          bienestar de la comunidad y al cuidado del medio ambiente.</li>
      </ol>
    </div>
  </div>
</section>