<footer>
  <div class="footer-container">
    <img src="../../../../assets/img/iconoPositivo.png" alt="Logo Iconográfico" />
    <article class="contact-info">
      <div class="contact-item">
        <img src="../../../../assets/img/footer/gmail.png" alt="Ícono de correo electrónico" />
        <p>iconografico&commat;gmail.com</p>
      </div>
      <div class="contact-item">
        <img src="../../../../assets/img/footer/telefono.png" alt="Ícono de teléfono" />
        <p>987654321</p>
      </div>
      <div class="contact-item">
        <img src="../../../../assets/img/footer/ubicacion.png" alt="Ícono de ubicación" />
        <p>Av. España Trujillo - Perú</p>
      </div>
    </article>
    <div class="product-info">
      <p>Volantes</p>
      <p>Merchandising</p>
      <p>Calendarios</p>
      <p>Letreros</p>
      <p>Tarjetas Personales</p>
      <p>Formatería</p>
    </div>
  </div>
  <p class="copyright">
    Copyright &copy; 2024 ICONOGRAFICO - Todos los derechos reservados
  </p>
</footer>