<section class="contacto">
  <div class="textCont">
    <span>¿TIENES DUDAS?</span>
    <br>
    <span>Ponte en contacto con nosotros</span>
    <p>987654321 / 923456781</p>
    <p>iconografico&#64;gmail.com</p>
    <p>Lunes a Viernes de 8 a.m. a 5 p.m.</p>
  </div>


  <div class="infoCont">
    <div class="pago">
      <span>MÉTODOS DE PAGO:</span>
      <br>
      <div class="pagoItem">
        <img src="../../../../assets/img/contact/tarjeta.png" alt="">
        <p>Solo con tarjeta</p>
      </div>

    </div>
    <div class="cont">
      <span>SIGUENOS EN:</span>
      <br>
      <img src="../../../../assets/img/contact/facebook.png" alt="">
      <img src="../../../../assets/img/contact/instagram.png" alt="">
      <img src="../../../../assets/img/contact/logowsp.png" alt="">
    </div>
  </div>
</section>