<section class="main" style="margin-top: 5rem;">
  <h2> {{ !producto ? 'Actualizar Producto' : 'Agregar Producto:' }} </h2>
  <div class="payment-form">
    <form>
      <div>
        <div class="form-group">
          <label for="card-name">Nombre:</label>
          <input type="text" id="nombre" [(ngModel)]="producto.nombre" name="nombre" placeholder="Nombre del Producto..."
            class="form-control form-control-sm">
        </div>
        <div class="form-group">
          <label for="card-desc">Descripción:</label>
          <textarea id="descripcion" [(ngModel)]="producto.descripcion" name="descripcion"
            placeholder="Descripción del Producto..." class="form-control form-control-sm"></textarea>
        </div>
      </div>
      <div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="categorySelect" style="width: 140px;">Categoría:</label>
          <select class="form-select" id="idCategoria" [(ngModel)]="producto.idCategoria" name="idCategoria">
            <option value=""> --Seleccionar--</option>
            <option *ngFor="let categoria of listcat" [value]="categoria.idCategoria"> {{ categoria.nombre }} </option>
          </select>
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="categorySelect" style="width: 140px;">Material:</label>
          <select class="form-select" id="idMaterial" [(ngModel)]="producto.idMaterial" name="idMaterial">
            <option value=""> --Seleccionar--</option>
            <option *ngFor="let material of listmat" [value]="material.idMaterial"> {{ material.nombre }} </option>
          </select>
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="categorySelect" style="width: 140px;">Presentación:</label>
          <select class="form-select" id="idPresentacion" [(ngModel)]="producto.idPresentacion" name="idPresentacion">
            <option value=""> --Seleccionar--</option>
            <option *ngFor="let presentacion of listpre" [value]="presentacion.idPresentacion"> {{ presentacion.nombre }} </option>
          </select>
        </div>
        <div class="form-group">
          <label for="security-code">Precio:</label>
          <div class="expiry-date">
            <input type="number" id="precio" [(ngModel)]="producto.precio" name="precio" placeholder="S/"
              class="form-control form-control-sm">
          </div>
        </div>
      </div>
      <div class="add">
        <div class="form-group">
          <label>
            <i class="fas fa-upload"></i> Añadir Imagen
          </label>
          <input id="file-upload" type="file" (change)="onFileSelected($event)" accept=".jpg, .jpeg, .png, .webp">
        </div>
      </div>
    </form>
  </div>
  <div class="boton">
    <!-- <button *ngIf="product.idProducto" type="submit" class="btn btn-warning btn-lg my-auto" (click)="updateProduct()">
      ACTUALIZAR<br>PRODUCTO
    </button> -->
    <button *ngIf="producto" type="submit" class="btn btn-warning btn-lg my-auto" (click)="nuevoProducto()">
      AGREGAR<br>PRODUCTO
    </button>

  </div>
</section>